 <!DOCTYPE html>  
<html lang="en">  
  <head>  
     <title>login</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>  
  </head>  
  <body>  
  
<div class="container">  
  <h1>LOGIN</h1>
  
<form style="width:300px" action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="user" placeholder="Email">
  </div>  
  <div class="form-group">  
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="pass" placeholder="Password">
  </div>  
    
  <input type="submit" class="btn btn-default">
</form>
  {% for msg in messages %}
  {{msg}}
  {% endfor %}
  
</div>  
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
  </body>  
</html>  